<% if (successMessage) { %>
    <span class="alert alert-success">
                <%= successMessage %>
            </span>
<% } %>
<% if (errorMessage) { %>
    <span class="alert alert-danger">
                <%= errorMessage %>
            </span>
<% } %>
