<%- include('./includes/head.ejs') %>
</head>

<body class="container">

    <!-- navbar -->
    <%- include('./includes/navigation.ejs') %>
    <main>
        <h1>Error</h1>
        <p>The page you're looking for doesn't exist.</p>
    </main>
    <%- include('./includes/end.ejs') %>