<%- include('./includes/head.ejs') %> 


</head>
<body class="container">
    <!-- navbar -->
    <%- include('./includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>

            <h1>My products:</h1>
            <ul class="list-group">
                <% products.forEach(product => { %>
                    <li class="list-group-item list-group-item-success mb-2"><%= product.name %>  </li>
               <% }); %>
            </ul>

        <% } else { %>
            <h1>Unfortunetly we don't have products yet...</h1>
            <p>Come back later</p>
        <% } %>
    </main>

    <%- include('./includes/end.ejs')%>