<%- include('../includes/head.ejs') %>
</head>

<body>

<!-- navbar -->
<%- include('../includes/navbar.ejs',{isAuthenticated:isAuthenticated}) %>

<main class="m-5">
    This is a template
</main>
<%- include('../includes/end.ejs') %>